<div class="container mt-5">
  <div class="row">
    <h2>ジャンル一覧・追加</h2>
    <% if @category.errors.any? %>
      <%= @category.errors.count %>件のエラーが発生しました
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
      <div class="col-sm-9 offset-sm-1">
        <%= form_with model: @category,url: admin_category_path(@category) do |f| %>
          <div class="field row ">
            <%= f.text_field :name %>
            <%= f.submit "追加", class: "btn btn-primary" %>
          </div>
        <% end %>
      <table class = "table table-hover">
        <thead>
          <tr class="active">
            <th>カテゴリー</th>
            <th>状態</th>
          </tr>
        </thead>
        <tbody>
          <% @categores.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category.id) ,class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @categores %>
    </div>
  </div>
</div>
